/*table**/

table {
    width: 100%;
    min-width: 50%;
}

th {
    background-color: grey;
    text-transform: uppercase;
}

tr {
    line-height: 1.5;
}


/*header2**/

header {
    background: #000033;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #CC0033 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

.current a {
    color: #CC0033;
    font-weight: bold;
}

header a:hover {
    color: #FFFF00;
    font-weight: bold;
    text-decoration: none;
}


/*map**/

img {
    height: auto;
    width: 100%;
    overflow: hidden;
    display: block;
}