.header {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
}

.form {
    margin: 0 auto;
}

#form {
    margin-left: 171px;
    margin-top: 10px;
    margin-bottom: 4px;
}

#form1 {
    margin-left: 155px;
}