<app-header></app-header>
<header>
    <nav class="container">
        <ul>
            <li class="current"><a a [routerLink]="['/elements/guidebook']" routerLinkActive="active">Zagrożenia</a></li>
            <li><a a [routerLink]="['/elements/accomodation']" routerLinkActive="active">Kolory szlaków</a></li>


        </ul>
    </nav>
</header>
<section class="container">
    <h1 class="mt-3 mb-3">Zagrożenia</h1>
    <section>
        <h4 class="">Burze</h4>
        <p>Jest to najgroźniejsze zjawisko, z jakim możemy spotkać się w czasie tatrzańskiego lata. Burze najczęściej występują w czerwcu oraz lipcu w godzinach popołudniowych, dlatego planując wycieczkę, warto rozpocząć ją wcześnie rano. Gdy zauważymy najdrobniejsze
            oznaki zbliżających się wyładowań, powinnyśmy jak najszybciej, najbliższym szlakiem nie zwlekając ani chwili zejść ze szczytu bądź grani w dolinę. W przypadku zaskoczenia przez burzę nie wolno chować się w skalnych żlebach opierać o skałę,
            chronić pod skalnymi okapami. Najlepiej przykucnąć bądź usiąść na plecaku podkurczając nogi. Większe grupy powinny się rozproszyć i nie siadać obok siebie.</p>

        <h4>Lawiny</h4>
        <p>Jest to jedno z największych zagrożeń w zimie. Lawiny powstają w wyniku wielu czynników i najwięcej ich schodzi w terenie o nachyleniu od 20 do 50 stopni. Długotrwałe i mocne opady śniegu zwiększają prawdopodobieństwo zejścia lawin. W okresie
            zimowym TOPR ogłasza dla terenu Tatr 5-stopniowe zagrożenie lawinowe. Z czego I stopień jest nieznaczny a V stopień bardzo dużym zagrożeniem. Należy pamiętać, że przy dużej pokrywie śnieżnej lawina może zejść wszędzie nawet na stoku, który
            do tej pory uważany był za bezpieczny.</p>
        <section>
            <h5>Stopnie zagrożenia lawinowego </h5>
            <table class="table table-striped">
                <tbody>

                    <tr>
                        <th></th>
                        <th>Stopień zagrożenia</th>
                        <th>Prawdopodobieństwo wyzwolenia lawiny</th>
                        <th>Zalecenia dla ruchu osób</th>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/law05.jpg"></td>
                        <td>Pokrywa śnieżna jest na ogół słabo związana i dalece niestabilna.</td>
                        <td>Istnieje prawdopodobieństwo samoczynnego schodzenia wielu dużych, niejednokrotnie również bardzo dużych lawin, także w terenie średnio stromym.</td>
                        <td>Wysoce niekorzystne warunki. Poruszanie się w terenie jest zazwyczaj niemożliwe. Zaleca się zaniechanie wszelkich wyjść w góry i pozostanie w obszarach nie objętych zasięgiem zagrożenia lawinowego.</td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/law04.jpg"></td>
                        <td>Pokrywa śnieżna jest słabo związana na większości stromych stoków.</td>
                        <td>Wyzwolenie lawiny jest prawdopodobne na licznych stromych stokach już przy małym obciążeniu dodatkowym. Możliwe jest samorzutne schodzenie licznych średnich, a często również dużych lawin.</td>
                        <td>Warunki zdecydowanie niekorzystne. Poruszanie się wymaga ekstremalnie dużej zdolności do lawinoznawczej oceny sytuacji. Zaleca się zaniechanie wszelkich wyjść w teren wysokogórski. Należy pozostawać w granicach średnio stromych
                            stoków oraz brać pod uwagę zasięg lawin z wyżej położonych stoków.</td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/law03.jpg"></td>
                        <td>Pokrywa śnieżna jest umiarkowanie lub słabo związana na wielu stromych stokach.</td>
                        <td>Wyzwolenie lawiny jest możliwe już przy małym obciążeniu dodatkowym, przede wszystkim na stromych stokach. W niektórych przypadkach możliwe jest samorzutne schodzenie średnich, a sporadycznie także dużych lawin.</td>
                        <td>Warunki w znacznej mierze niekorzystne. Poruszanie się wymaga bardzo dużego doświadczenia oraz posiadania bardzo dużej zdolności do lawinoznawczej oceny sytuacji. Należy unikać stromych stoków szczególnie wskazanych pod względem
                            wystawy i wysokości.</td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/law02.jpg"></td>
                        <td>Pokrywa śnieżna jest umiarkowanie związana na niektórych stromych stokach, na ogół jednak jest związana dobrze.</td>
                        <td>Wyzwolenie lawiny jest możliwe zwłaszcza przy dużym obciążeniu dodatkowym, przede wszystkim na stromych stokach. Nie należy spodziewać się samorzutnego schodzenia dużych lawin.</td>
                        <td>Częściowo niekorzystne warunki. Poruszanie się wymaga umiejętności oceny lokalnego zagrożenia lawinowego i odpowiedniego wyboru trasy szczególnie na wszystkich stromych stokach oraz na stokach średnio stromych szczególnie wskazanych
                            pod względem wystawy i wysokości.</td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/law01.jpg"></td>
                        <td>Pokrywa śnieżna jest na ogół dobrze związana i stabilna.</td>
                        <td>Wyzwolenie lawiny na ogół jest możliwe tylko przy dużym obciążeniu dodatkowym w nielicznych miejscach w bardzo stromym, lub ekstremalnym terenie. Możliwe jest samorzutne schodzenie lawin głównie w postaci zsuwów i małych lawin.</td>
                        <td>Na ogół dogodne warunki dla wędrówek. Szczególną ostrożność należy zachować na stokach ekstremalnych i bardzo stromych.</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h5>Klasyfikacja wielkości lawin </h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Rozmiar</th>
                        <th>Nazwa</th>
                        <th>Klasyfikacja toru lawiny</th>
                        <th>Potencjalne szkody</th>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Zsuw</td>
                        <td>Przemieszczenie śniegu z minimalnym zagrożeniem zasypania (głównie możliwość spowodowania upadku).</td>
                        <td>Stosunkowo mało niebezpieczne dla ludzi.</td>

                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Mała</td>
                        <td>Osiąga koniec stoku.</td>
                        <td>Może zasypać, zranić lub zabić człowieka.</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Średnia</td>
                        <td>Osiąga płaskie części doliny (o nachyleniu poniżej 30°) na dystansie poniżej 50 m.</td>
                        <td>Może zasypać, zniszczyć samochód osobowy, uszkodzić ciężarówkę, może zburzyć mały budynek, połamać pojedyncze drzewa.</td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Duża</td>
                        <td>Osiąga płaskie części doliny (o nachyleniu znacznie poniżej 30°) na dystansie powyżej 50 m i może osiągnąć dno doliny.</td>
                        <td>Może zasypać i zniszczyć dużą ciężarówkę, pociąg, może niszczyć kilka budynków i fragmenty lasu.</td>

                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Bardzo duża</td>
                        <td>Osiąga dno dolin, największe znane lawiny.</td>
                        <td>Może dokonywać znaczących zmian w krajobrazie, możliwe katastrofalne zniszczenia.</td>

                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <div class="container mb-3">
                <img src="/assets/img/lawina.jpg"></div>
        </section>
        <h4>Dzikie zwierzęta</h4>
        <p>Niedźwiedź jest największym drapieżnikiem lądowym, a maksymalny ciężar karpackich osobników przekracza 350 kg. Pomimo krępej, niezgrabnej budowy ciała potrafi szybko biegać, skakać, pływać i wspinać się na drzewa i skały. W galopie na krótkich
            dystansach osiąga prędkość ponad 50 km/godz. W Tatrach pokonuje trasy dostępne tylko dla taterników.Jego siła jest przysłowiowa. Ma znakomity węch i słuch, a nieco słabszy wzrok, dlatego rejestrowane przez niego otoczenie dosyć wyraźnie różni
            się od obrazu człowieka, typowego wzrokowca. Taka wrażliwość zmysłów jest znakomitym przystosowaniem do życia w lesie środowisku o ograniczonej widoczności. Węch informuje niedźwiedzia o zakopanych w lawinie kozicach, ale także o papierkach
            po cukierkach pozostawionych kilka godzin wcześniej na szlaku. Niedźwiedź potrzebuje do życia dużych przestrzeni. Areał osobniczy dorosłej sztuki obejmuje od 30 do 200 km kw., ale do tego dochodzi zwyczaj odbywania wielokilometrowych wędrówek.
            W naszej części Karpat wydzielono pięć ostoi niedźwiedzia: Beskid Żywiecki, Tatry, Beskid Sądecki z Gorcami, Beskid Niski i Bieszczady. Pięćdziesiąt lat temu w polskiej części Karpat żyło kilkanaście niedźwiedzi, dzisiaj ich liczebność przekracza
            100 osobników. W tym samym czasie wzrost liczebności niedźwiedzia odnotowano także na Słowacji. Tak więc wieloletnia ochrona dała pozytywne wyniki. W Tatrach żyje obecnie ok. 50–60 niedźwiedzi, z czego po polskiej stronie stale przebywa kilkanaście
            sztuk. Niedźwiedzica co dwa lata rodzi zimą w gawrze od jednego do trojga młodych i opiekuje się nimi przez póltora roku. Młode chodzą wszędzie za matką, ale z upływem czasu odchodzą od niej coraz dalej, np. w kwietniu–maju przebywają w odległości
            do 50 m, a na jesieni nawet 100–200 m. W polskiej części Tatr każdego roku obserwuje się od jednego do trzech niedźwiedzic z młodymi. Niedźwiedź jest gatunkiem wszystkożernym, a jego dieta w ciągu roku ulega sezonowym zmianom. W Tatrach po
            opuszczeniu gawry poszukuje padłych w zimie jeleni i zasypanych lawinami kozic. Potrafi także odebrać zdobycz wilkom. Zabija i zjada zarówno drobne, jak i duże zwierzęta, od mrówek po dziki, jelenie, a w Bieszczadach nawet żubry. Po zejściu
            śniegu i pojawieniu się młodych traw i ziół przestawia się na pokarm roślinny, w którym latem i jesienią pojawiają się owoce malin, borówek i jarzębiny. Owoce pozwalają na zgromadzenie niezbędnych zapasów tłuszczu na zimę. Niedźwiedź zawsze
            wchodził w konflikty z człowiekiem, zabijał owce i bydło na halach, rozbijał ule w pasiekach i niszczył zasiewy owsa. Dziś potrafi się włamać do samochodów pozostawionych na parkingu, zwłaszcza gdy w bagażniku pozostawiono pachnące zapasy
            pokarmu. Takie zdarzenia od kilku lat są odnotowywane na terenie Tatr. Szkody wyrządzane bywają zwłaszcza na przełomie lata i jesieni i są związane ze wzmożonym apetytem, gdy każde zwierzę gromadzi rezerwy na zimę. W ciągu roku w życiu niedźwiedzia
            można wyróżnić dwa sezony: spoczynku zimowego, czyli gawrowania, i aktywnego spędzania czasu. Sezon ten dzieli się z kolei na kilka okresów: wiosennego uzupełniania zapasów, godowy, letnio-jesienny gromadzenia zapasów na zimę i przygotowań
            do zimowania.
        </p>
        <h5> Ataku ze strony niedźwiedzia można spodziewać się w kilku sytuacjach:</h5>
        <ul>
            <li>niespodziewane zaskoczenie zwierzęcia z bliskiej odległości, np. podczas żerowania w malinach lub w czasie spoczynku</li>
            <li>pojawienie się w czasie żerowania, zwłaszcza przy zabitej ofierze, co jest odbierane jako próba zabrania jej</li>
            <li>znalezienie się między matką a młodymi, co może zdarzyć się mimowolnie, zważywszy, że pod koniec lata oddalają się one od matki na odległość nawet ponad 100 metrów!</li>
        </ul>


        <section>
            <div class="container mb-3">
                <img src="/assets/img/mis.JPG"></div>
        </section>
    </section>
</section>
<app-newsletter>
</app-newsletter>
<app-footer></app-footer>