<app-header></app-header>
<header>
    <nav class="container">
        <ul>
            <li class="current"><a a [routerLink]="['/elements/guidebook']" routerLinkActive="active">Zagrożenia</a></li>
            <li><a a [routerLink]="['/elements/accomodation']" routerLinkActive="active">Kolory szlaków</a></li>


        </ul>
    </nav>
</header>
<section class="container">
    <h1 class="mt-3 mb-3">Zagrożenia</h1>
    <section>
        <h4 class="">Burze</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
            eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        <section>
            <div class="container mb-3">
                <img src="/assets/img/burza.jpg"></div>
        </section>
        <h4>Lawiny</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
            eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        <section>
            <div class="container mb-3">
                <img src="/assets/img/lawina.jpg"></div>
        </section>
        <h4>Dzikie zwierzęta</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
            quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
            eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        <section>
            <div class="container mb-3">
                <img src="/assets/img/mis.JPG"></div>
        </section>
    </section>
</section>
<app-newsletter>
</app-newsletter>
<app-footer></app-footer>