<section class="container">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img class="d-block w-100" src="/assets/img/IMG_20161001_144354.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Przełęcz Zawrat</h3>
                <p>Widok z przełęczy Zawrat</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" src="/assets/img/IMG_20170825_122327.jpg" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Kasprowy Wierch</h3>
                <p>Droga z Kuźnic na Kasprowy Wierch</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" src="/assets/img/IMG_20161001_130107.jpg" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Dwa stawy</h3>
                <p>Dolina Pięciu Stawów</p>
            </div>
        </ng-template>

    </ngb-carousel>
</section>